<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oh boy | Help</title>
</head>
<body>
    <h1>"Oh boy" Help Center</h1>

    Welcome to the Oh Boy Help Center (OBHC).


    Here you can see our users:
    
    {{users}}
</body>
</html>